@model Announcement

<h1>Selected announcemest</h1>

<form action="/"><button class="btnHome"><h2>All announcements</h2></button></form>

<div class="Announcement mt-2">
    <div>
        <h2>@Model.title</h2>
    </div>
    <div>
        @Model.description
    </div>
    <div>
        <div class="Label">Date added: </div>
        @Model.dateAdded
    </div>
    

</div>
